.foto-block {
    /* border: 1px solid black; */
}
.foto-block .image {
    padding: 5px;
}
.foto-block .foto-notes {
    padding: 5px;
}
.copy-img {
    content:url(/img/copy_icon.png);
    width: 32px;
    height: 32px;
    overflow: hidden;
}